/* CSS style for authentication module */

.panel-auth {
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #01177E;
  opacity: 1;
  z-index: 99997;
  overflow-x: hidden;
}

#login-page {
    background-color: #01177E;
}
.login-image-logo img {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.login-form {
    margin-top: 140px;
    background-color: #FFFFFF;
    min-height: 240px;
    border-radius: 5px;
    padding: 40px 20px 20px 20px;
}
.login-info {
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
}
.login-info a {
    color: rgba(255, 255, 255, 0.6);
    text-decoration-line: underline;
}
.login-info A:hover,
.login-info A:focus {
    color: rgba(255, 255, 255, 1);
}


/* Column Grid 5 */
.col-xs-1-10,
.col-sm-1-10 {
  position: relative;
  min-height: 1px;
}

.col-xs-1-10 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-1-10 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-10 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-10 {
    width: 20%;
    float: left;
  }
}